<form action='/users' method='post'>
  <label for='first_name'>
    First Name:
    <input type='text' name='first_name' />
  </label>
  <label for='surname'>
    Surname:
    <input type='text' name='surname' />
  </label>
  <label for='email'>
    Email:
    <input type='text' name='email' />
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password' />
  </label>
  <input type='submit' value='Submit' />
</form>
